<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File uploader</title>
</head>
<body>
  <h1>File uploader</h1>
  <% if (user) { %>
    <p>Hello <%= user.username %></p>
    <div class="links">
      <a href="/log-out">Log out</a>
    </div>
  <% } else { %>
    <div class="links">
      <a href="/sign-up">Sign up</a>
      <a href="/log-in">Log in</a>
    </div>
  <% } %>
</body>
</html>